.error {
  position: absolute;
  padding: 10px 20px;
  bottom: 30px;
  min-width: 300px;
  left: center;
  box-sizing: border-box;
  background: rgb(175, 175, 175);
  border: 2px solid darkred;
  border-radius: 5px;
  color: #fff;
  transition: all 1s ease;
}
.hidden {
  display: none;
}